.basic-div {
    font-style: normal;
    background-color: RGB(240, 248, 255); /* AliceBlue */
    border: 1px solid RGB(176, 196, 222); /* LightSteelBlue */
    border-radius: 4px;
    margin: 10px auto;
    width: 1000px;
    padding: 10px;
}

#header {
    background: RGB(230, 240, 255); /* Очень светлый голубой */
    position: fixed;
    width: 100%;
    height: 93px;
    left: 0;
    top: 0;
    z-index: 1
}
